.Register{

    &__title{
        font-size: 24px !important;
        font-weight: 700 !important;
        color: #0B5286
    }
    &__subtitle {
        font-size: 16px !important
    }

    &__fieldLabel{
        font-size: 14px !important
    }
    
}

.css-1w78ofh-MuiFormControlLabel-root .MuiFormControlLabel-label-label {
    font-size: 14px
}